<!-- views/dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="dashboard">

    <!-- Side Bar -->
    <div class="side-bar">
      <h1>Dashboard</h1>
        <% Object.keys(botProfiles).forEach(function(accountName) { %>
          <% const bot = botProfiles[accountName]; %>
        <div class="bot-dropdown" id="<%= bot.accountName %>-dropdown">
          <div class="bot-header" onclick="toggleBot('<%=bot.accountName%>')">
            <span class="bot-status" id="<%= bot.accountName %>-status"></span>
            <h3 id="<%= bot.accountName %>-name"><%= bot.accountName %></h3>
          </div>
          <ul id="<%= bot.accountName %>-buttons" class="bot-buttons">
            <li id="<%= bot.accountName %>-settings-tab" onclick="showTab('<%= bot.accountName %>', 'settings')">Overview</li>
            <li id="<%= bot.accountName %>-symbols-tab" onclick="showTab('<%= bot.accountName %>', 'symbols')">Settings</li>
            <li id="<%= bot.accountName %>-status-tab" onclick="showTab('<%= bot.accountName %>', 'status')">Logs</li>
          </ul>
        </div>
      <% }); %>
    </div>

    <!-- Main Content Area -->
    <div class="main-content">
    </div>

    <div id="result"></div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>
